One user. Id: {{id}}

<form id="form-profile" action="" method="POST" enctype="multipart/form-data">

    <h1 id="header-one">
        User Profile
        {{!--  {{user.name}} --}}
    </h1>

    <div class="label-profile">
        <label for="name"></label>
        <input type="text" name="name" value="{{user.name}}" />

    </div>

    <div class="label-profile">
        <label for="email"></label>
        <input type="email" name="email" value="{{user.email}}" />
    </div>


    <div class="label-profile">
        <label for="password" placeholder="Password"></label>
        <input type="password" name="password" value="{{user.password}}" />
    </div>

    <div class="label-profile">
        <textarea name="notes" id="" placeholder="Note"></textarea>
        <label for="notes"></label>
    </div>

    <button class="btn-profile"  type="reset" value="save">Save</button>
    <button class="btn-profile" id="clear" value="delete">Delete my profile</button>
</form>