<div class="miniwrap main-content">
    <form data-userId="{{user._id}}" class="main-content" id="form-profile" action="/user/show" method="POST" enctype="multipart/form-data">

    
        <h2 id="header-one">
            Your Profile
            <br>
        </h2>

        <div><img src="{{user.image}}" alt="profile image"></div>


        <div class="label-profile">
            <input id="input-name" type="text" name="name" value="{{user.name}}" />
        </div>

        <div class="label-profile">     
            <input id="input-email" type="email" name="email" value="{{user.email}}" />
        </div>


        <div class="label-profile" id="div-password">
            
            <input id="input-password" type ="password" name="password" value="" />
            <span>
                <i class="fa eye fa-eye-slash"></i> 
                </span>
        </div>

        {{!-- <div class="label-profile">
            <textarea name="notes" id="text-note" placeholder="Note"></textarea>
            <label for="notes"></label>
        </div> --}}

        <button data-userId="{{user._id}}" id="btn-edit" class="btn-profile">Edit</button>

    </form>
    {{!-- Delete account --}}
    <form action="/user/{{user._id}}/delete" method="POST">
        <button class="btn-profile" type="text">Delete my account</button>
    </form>

  

</div>