<div class="miniwrap main-content">
    <form data-userId="{{user._id}}" class="main-content" id="form-profile" action="/user/show" method="POST" enctype="multipart/form-data">


        <h2 id="header-one">
            Your Profile
            <br>
        </h2>

        <div class="element">
            <label for="profile-img"> <img src="{{user.image}}" alt="profile image"></label>
            <input style="display:none" type="file" id="profile-img" name="pic">
        </div>


        <div class="element label-profile">
            <input id="input-name" type="text" name="name" value="{{user.name}}" />
        </div>

        <div class="element label-profile">
            <input id="input-email" type="email" name="email" value="{{user.email}}" />
            <p class="error"></p>
        </div>


        <div class="element label-profile" id="div-password">

            <input id="input-password" type="text" name="password" value="password" />
            <span class="visible">
                <i class="fa eye fa-eye-slash"></i>
                {{!-- <i class="fas fa-eye"></i> --}}
            </span>
        </div>

       

        <button data-userId="{{user._id}}" id="btn-edit" class="btn-profile">Edit</button>

    </form>
    {{!-- Delete account --}}
    <form action="/user/{{user._id}}/delete" method="POST" id="form-delete">
        <button id="delete-btn" class="btn-profile" type="text" value="{{user._id}}">Delete my account</button>

    </form>