<aside class="left-panel">
    <h2 style="min-height: 3em; background-image: url('{{timeline.image}}'); background-size: cover; background-position: center center;">
        {{timeline.title}}</h2>
    <div id="timeline-edit">
        <form enctype="multipart/form-data">
            <label class="title" for="timelineTab">
                <h3>Edit Timeline</h3>
            </label>
            <input type="checkbox" id="timelineTab" class="trick">
            <div class="tab">
                <input type="hidden" name="id" value="{{timeline.id}}">
                <div class="element">
                    <label class="inline" for="title">Title</label>
                    <input id="title" value="{{timeline.title}}" type="text" name="title" placeholder="Bootcamp web dev">
                </div>
                <div class="element">
                    <label class="inline" for="image">Replace Image</label>
                    <input id="image" name="image" type="file">
                </div>
                <div class="element">
                    <label class="inline" for="scope">Scope</label>
                    <select id="scope" name="scope">
                        <option {{#compare timeline.scope "public"}}selected{{/compare}} value="public">Public</option>
                        <option {{#compare timeline.scope "private"}}selected{{/compare}} value="private">Private
                        </option>
                    </select>
                </div>
                <div class="element text">
                    <label class="inline" for="description">Description</label>
                    <textarea id="description" name="description">{{timeline.description}}</textarea>
                </div>
                <div class="buttons">
                    <button class="save" type="text">Save</button>
                    <button class="view" type="text">
                        <a href="/timeline/{{timeline.id}}">
                            View
                        </a>
                    </button>
                    <button class="delete" type="text">Delete</button>
                </div>
            </div>
        </form>
    </div>
    <div id="new-event" class="{{#compare timeline.template "vertical_flat"}}flat{{/compare}}">
        <form>
            <label class="title" for="addEventTab">
                <h3>New Event</h3>
            </label>
            <input type="checkbox" id="addEventTab" class="trick">
            <div class="tab">
                <div class="element">
                    <label class="inline" for="title_new">Title</label>
                    <input type="text" name="title" id="title_new" placeholder="Title">
                </div>
                <div class="element">
                    <label class="inline" for="image_event">Image</label>
                    <input id="image_event" name="image" type="file">
                </div>
                <div class="element text">
                    <label class="inline" for="content_new">Content</label>
                    <textarea name="content" id="content_new"></textarea>
                </div>
                <div class="element picker">
                    <div class="color-picker">
                        <label class="inline">Color</label>
                        <input type="radio" id="red" name="color" value="red">
                        <label class="color-choice red" for="red"></label>
                        <input type="radio" id="blue" name="color" value="blue">
                        <label class="color-choice blue" for="blue"></label>
                        <input type="radio" id="yellow" name="color" value="yellow">
                        <label class="color-choice yellow" for="yellow"></label>
                        <input type="radio" id="green" name="color" value="green">
                        <label class="color-choice green" for="green"></label>
                    </div>
                </div>
                <div class="time-lord">
                    <h4 class="isnt-span">Time</h4>
                    <div class="element check">
                        <label for="span-or-point" class="inline span-option">Timespan <input type="checkbox" id="span-or-point"></label>
                    </div>
                </div>
                <div class="human">
                    <div class="time" data-time="start">
                        <h5>Time Start</h5>
                        <div>
                            <input type="number" class="datedata last-show" name="time_start_year" id="time_start_year_{{this.id}}" placeholder="YYYY">
                            <input type="number" class="datedata" name="time_start_month" id="time_start_month_{{this.id}}" min="1" max="12" placeholder="MM">
                            <input type="number" class="datedata" name="time_start_day" id="time_start_day_{{this.id}}" min="1" max="31" placeholder="DD">
                            <input type="number" class="datedata" name="time_start_hour" id="time_start_hour_{{this.id}}" min="0" max="23" placeholder="HH">
                            <input type="number" class="datedata" name="time_start_minute" id="time_start_minute_{{this.id}}" min="0" max="59" placeholder="mm">
                        </div>
                    </div>
                    <div class="time" data-time="end">
                        <h5>Time End</h5>
                        <div>
                            <input type="number" class="datedata last-show" name="time_end_year" id="time_end_year" placeholder="YYYY">
                            <input type="number" class="datedata" name="time_end_month" id="time_end_month" min="1" max="12" placeholder="MM">
                            <input type="number" class="datedata" name="time_end_day" id="time_end_day" min="1" max="31" placeholder="DD">
                            <input type="number" class="datedata" name="time_end_hour" id="time_end_hour" min="0" max="23" placeholder="HH">
                            <input type="number" class="datedata" name="time_end_minute" id="time_end_minute" min="0" max="59" placeholder="mm">
                        </div>
                        <input type="hidden" name="timeline" value="{{timeline._id}}">
                    </div>
                </div>
                <div class="buttons">
                    <button>Create</button>
                </div>
            </div>
        </form>
    </div>

    {{!-- event list --}}
    {{!-- event list --}}
    {{!-- event list --}}

    <div id="event-list">
        <label class="title" for="eventsTab">
            <h3>Events list</h3>
        </label>
        <input type="checkbox" id="eventsTab" class="trick">
        <div class="tab">

            {{!-- for each --}}
            {{!-- for each --}}
            {{!-- for each --}}

            {{#each events}}
            <label class="delete-{{this.id}}" for="event-list-toggle-{{this.id}}">
                <h4 id="title-{{this.id}}">{{this.title}}</h4>
            </label>
            <input type="radio" name="event-list-toggle" id="event-list-toggle-{{this.id}}" class="event-list-toggle delete-{{this.id}}">
            <div class="delete-{{this.id}}" id="edit-event-{{this.id}}" class="{{#compare timeline.template "vertical_flat"}}flat{{/compare}}">
                <form>
                    <div class="element">
                        <label class="inline" for="title_{{this.id}}">Title</label>
                        <input type="text" name="title" value="{{this.title}}" id="title_{{this.id}}" placeholder="Title">
                    </div>
                    <div class="element">
                        <label class="inline" for="image_event_{{this.id}}">Image</label>
                        <input id="image_event_{{this.id}}" name="image" type="file">
                        {{!-- {{#if this.image}}
                        <img src="{{this.image}}" style="display: block" alt="" height="40px" width="100%">
                        {{/if}} --}}
                    </div>
                    <div class="element text">
                        <label class="inline" for="content_{{this.id}}">Content</label>
                        <textarea name="content" id="content_{{this.id}}">{{this.content}}</textarea>
                    </div>
                    <div class="element picker">
                        <div class="color-picker">
                            <label class="inline">Color</label>
                            <input type="radio" {{#compare this.color "red"}}checked{{/compare}} id="red_{{this.id}}" name="color" value="red">
                            <label class="color-choice red" for="red_{{this.id}}"></label>
                            <input type="radio" {{#compare this.color "blue"}}checked{{/compare}} id="blue_{{this.id}}" name="color" value="blue">
                            <label class="color-choice blue" for="blue_{{this.id}}"></label>
                            <input type="radio" {{#compare this.color "yellow"}}checked{{/compare}} id="yellow_{{this.id}}" name="color" value="yellow">
                            <label class="color-choice yellow" for="yellow_{{this.id}}"></label>
                            <input type="radio" {{#compare this.color "green"}}checked{{/compare}} id="green_{{this.id}}" name="color" value="green">
                            <label class="color-choice green" for="green_{{this.id}}"></label>
                        </div>
                    </div>
                    <div class="time-lord">
                        <h4 class="isnt-span">Time</h4>
                    </div>
                    <div class="human">
                        <div class="time" data-time="start">
                            {{#if this.time_end.year}}
                            <h5>Time Start</h5>
                            {{else}}
                            <h5>Time</h5>
                            {{/if}}
                            <div>
                                <input type="number" value="{{this.time_start.year}}" class="datedata last-show" name="time_start_year" id="time_start_year_{{this.id}}" placeholder="YYYY">
                                <input type="number" value="{{this.time_start.month}}" class="datedata" name="time_start_month" id="time_start_month_{{this.id}}" min="1" max="12" placeholder="MM">
                                <input type="number" value="{{this.time_start.day}}" class="datedata" name="time_start_day" id="time_start_day_{{this.id}}" min="1" max="31" placeholder="DD">
                                <input type="number" value="{{this.time_start.hour}}" class="datedata" name="time_start_hour" id="time_start_hour_{{this.id}}" min="0" max="23" placeholder="HH">
                                <input type="number" value="{{this.time_start.minute}}" class="datedata" name="time_start_minute" id="time_start_minute_{{this.id}}" min="0" max="59" placeholder="mm">
                            </div>
                        </div>
                        {{#if this.time_end.year}}
                        <div class="time" data-time="end">
                            <h5>Time End</h5>
                            <div>
                                <input type="number" value="{{this.time_end.year}}" class="datedata last-show" name="time_end_year" id="time_end_year_{{this.id}}" placeholder="YYYY">
                                <input type="number" value="{{this.time_end.month}}" class="datedata" name="time_end_month" id="time_end_month_{{this.id}}" min="1" max="12" placeholder="MM">
                                <input type="number" value="{{this.time_end.day}}" class="datedata" name="time_end_day" id="time_end_day_{{this.id}}" min="1" max="31" placeholder="DD">
                                <input type="number" value="{{this.time_end.hour}}" class="datedata" name="time_end_hour" id="time_end_hour_{{this.id}}" min="0" max="23" placeholder="HH">
                                <input type="number" value="{{this.time_end.minute}}" class="datedata" name="time_end_minute" id="time_end_minute_{{this.id}}" min="0" max="59" placeholder="mm">
                            </div>
                        </div>
                        {{/if}}
                    </div>
                    <input type="hidden" name="timeline" value="{{timeline._id}}">
                    <div class="buttons">
                        <button class="edit" data-id={{this._id}}>Save</button>
                        <button class="delete" data-id={{this._id}}>Delete</button>
                    </div>
                </form>
            </div>
            {{/each}}

            {{!-- end for each --}}
            {{!-- end for each --}}
            {{!-- end for each --}}

        </div>
    </div>
</aside>

{{!-- Preview --}}

<section>
    <h2>Preview</h2>
    <div class="containt">
        <div class="bars">

        </div>
    </div>
</section>